.devices {
  h2 {
    @include mobile-s {
      padding: 20px 0 22px 20px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -45px;
    gap: 40px;

    @include mobile-l {
      margin: 0;
      gap: 20px;
    }

    @include mobile {
      margin: 0;
    }
  }
}


