.breadcrumbs {
  margin-bottom: 55px;
  padding-top: 35px;

  &__list {
    @include flex-v-center;
  }

  &__item:not(:last-child) {
    position: relative;
    margin-right: 15px;
    font-weight: 500;
    color: var(--color-orange);

    &::before {
      content: "/";
      position: absolute;
      right: -10px;
      color: var(--color-black);
    }
  }
}