.catalog {
  h1 {
    margin-bottom: 55px;
    font-size: 24px;
    text-transform: capitalize;
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 55px;
    gap: 40px;

    @include tablet {
      justify-content: center;
      grid-template-columns: auto;
    }
  }

  &__desc {
    @include tablet {
      display: grid;
      justify-content: center;
    }
  }

  &__list {
    display: none;

    &--active {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;

      @include tablet {
        order: -1;
        gap: 20px;
      }

      @include mobile-l {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  &__link {
    position: relative;
    display: none;
    order: -1;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
    transition: color 0.3s linear;

    @include tablet {
      display: block;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 120px;
      height: 1px;
      background-color: var(--color-orange);
    }

    &:focus {
      outline: 2px solid var(--color-orange);
      outline-offset: 2px;
    }

    &:hover {
      color: var(--color-orange);
    }

    &:active {
      color: var(--color-active);
    }
  }

  &-filter {
    &__item {
      @include bg-cover;

      position: relative;
      margin-bottom: 40px;
      border-radius: 10px;
      width: 100%;
      min-height: 110px;
      max-width: 350px;
      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.19));
      cursor: pointer;

      span {
        position: absolute;
        right: 0;
        top: 10px;
        border-radius: 12px 0 0 12px;
        padding: 8px 20px 8px 8px;
        font-weight: 700;
        font-size: 8px;
        text-transform: uppercase;
        color: var(--color-orange);
        background-color: var(--color-white);
      }

      h2 {
        position: relative;
        top: 65px;
        border-radius: 0 0 10px 10px;
        padding: 17px 0 15px 15px;
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 12px;
        text-transform: uppercase;
        color: var(--color-big-stone);
        background-color: var(--color-white);
        transition: color 0.5s linear;
      }

      a {
        &::before {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          z-index: 20;
        }
      }

      &:hover h2 {
        color: var(--color-orange);
      }
    }
  }

  &-form {
    border-radius: 10px;
    background-color: var(--color-gallery);

    &__inner {
      display: grid;
      align-items: center;
      justify-content: center;
      padding: 35px 40px;
      text-align: center;
      gap: 25px;
    }

    p {
      font-family: "Mulish", sans-serif;
      font-weight: 700;
      font-size: 18px;
      text-align: center;
      text-transform: uppercase;
    }

    &__area {
      appearance: none;
      outline: 0;
      border: 1.5px solid var(--color-black);
      border-radius: var(--btn-big);
      padding: 15px 30px;
      width: 100%;
      max-width: 220px;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.3;
      color: rgba(0, 0, 0, 0.8);
      background-color: var(--color-gallery);

      &:focus {
        border: 1.5px solid var(--color-orange);
      }
    }
  }
}