.pagination {
  display: flex;
  justify-content: flex-end;

  @include tablet {
    justify-content: center;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 20px;

      @include mobile-s {
        margin-right: 10px;
      }
    }
  }

  &__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;

    &--active {
      font-weight: 600;
      color: var(--color-black);
    }
  }
}
