// colors
:root {
  --color-black: #000;
  --color-white: #fff;
  --color-orange: #ffa801;
  --color-active: #ff9001;
  --color-grey: rgba(0, 0, 0, 0.38);
  --color-grey-100: rgba(0, 0, 0, 0.65);
  --color-blue: rgba(21, 37, 54, 0.72);
  --color-big-stone: #152536;
  --color-pale-sky: #6c757d;
  --color-gallery: #efefef;
  --btn-r: 15px;
  --btn-big: 25px;
}